{% extends "control_clinica/base.html" %}

{% block contenido %}
<section>
    <div>
        <h2>Acerca de mi</h2>
        
        <br><br>
        <h3>Clara Silva</h3>
        <p>Analista Junior de Data</p>
        <br>
        <div class="col">
            <div class="">
                    <p>Hola, mi nombre es Clara y tengo más de 6 meses de experiencia en el análisis de data, BI y programación. </p>
                    <p>Gracias por visitar mi proyecto, a continuación dejo mis redes sociales y contacto</p>
                    <br><br>
                 <a href="https://www.linkedin.com/in/clara-ines-silva-leon/"><i class="bi bi-linkedin text-dark mx-1"></i> Clara Ines Silva León</a>
                 <br>
                 <a href="https://www.linkedin.com/in/clara-ines-silva-leon/"><i class="bi bi-envelope text-dark mx-1"></i> clara.silvaleon1@gmail.com</a>

            </div>
        </div>
        
        <br><br>
        
    </div>
</section>
{% endblock contenido %}