{% extends "control_clinica/base.html" %}

{% block contenido %}
<h3>Bienvenidos a la Clínica {{user.first_name}}</h3>
{% endblock contenido %}

{% block contenido_pie %}
<!--<div class="col-lg-6 h-100 text-center text-lg-end my-auto">-->
                
    <div class="contFooter">
        <div class="columnFooter">
            <div class = "col">
                <h5>Red de clínicas</h5>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Clinica San Borja</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Clinica La Molina</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Clinica Central</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Clinica del Sur</a>
                    </p>
                    
            </div>
        </div>
        <div class="columnFooter">
            <div class = "col">
                <h5>Sobre nosotros</h5>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Empresas asociadas</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Tecnología</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Nueva app</a>
                    </p>
                    <p class="sobre_clin_aux">
                        <a href="" ::marker>Convenios</a>
                    </p>
            </div>
        </div>
    </div>
<!--</div>-->
{% endblock contenido_pie %}